#dark-toggle {
  position: fixed;
  width: 2.5rem;
  height: 2.5rem;
  bottom: 1rem;
  right: 1rem;
  background-color: #d9d9d9;
  border-radius: 2.5rem;
  text-align: center;
  border: none;
  outline: none;
  font-size: 1.5em;
}
i#dark-toggle-icon::before {
  color: #000;
}


html .dark {
  color: #dddddd;
  background-color: #2d3133;
}
.dark a {
  color: #3e9fff;
}
.dark .btn {
  color: rgba(255,255,255,0.7);
}
.dark .main-content h1, .dark .main-content h2, .dark .main-content h3, .dark .main-content h4, .dark .main-content h5, .dark .main-content h6 {
  color: #16c26c;
}
.dark .site-footer {
  border-color: #777777;
}
.dark .site-footer-credits {
  color: #99aab1;
}
